<div class="widget-wrap highlighted-widget">
  <div class="widget">
    Thanks for visiting my blog. If you find this content interesting, Please take a look at
    <a href='https://liveformhq.com/?utm_source=minhajuddin.com'>LiveForm, it provides you with a simple way to host Online Forms for your websites. Be it Contact Forms/Feedback Forms or any custom forms.</a>. It makes
    <div style='text-align: center; margin-top: 10px;' >
      <a href='' style='text-decoration: none; text-align: center;display: inline-block; padding: 10px 50px; background-color: #ff3e01; color: white;' >
        https://liveformhq.com/registrations/new?plan=starter
      </a>
    </div>
  </div>
</div>

<div class="widget-wrap">
  <h3 class="widget-title">Resources</h3>
  <div class="widget">
    <ul>
      <li><a href='/about/'>About Me</a></li>
      <li><a href='/projects/'>My Projects</a></li>
      <li><a href='https://github.com/minhajuddin'>Github</a></li>
      <li><a href='https://twitter.com/minhajuddin'>@minhajuddin</a></li>
      <li><a href='/atom.xml'>Subscribe</a></li>
    </ul>
  </div>
</div>

<div class="widget-wrap">
  <h3 class="widget-title">Side Projects</h3>
  <div class="widget">
    <ul>
      <li><a href='http://readcode.in/'>Readcode - Makes reading source code a pleasure</a></li>
      <li><a href='https://getsimpleform.com/'>Simple Form - Build simple online forms</a></li>
      <li><a href='https://liveformhq.com/'>LiveForm - Online forms for professional designers and developers</a></li>
      <li><a href='https://zammu.in/'>Zammu - Continuous Deployment for your static sites</a></li>
      <li><a href='http://getsimplesite.com/'>SimpleSite - A powerful javascript based CMS</a></li>
      <li><a href='http://www.websrvr.in/'>Websrvr - Host your websites using Dropbox</a></li>
      <li><a href='http://www.schoolone.in/'>SchoolOne - A solution for your school management</a></li>
      <li><a href='https://simplemessage.in/'>SimpleMessage - Send SMS messages with a powerful UI</a></li>
      <li><a href='https://slugex.com/'>Slugex - Host your apps using CLI</a></li>
    </ul>
  </div>
</div>
