<div class="widget-wrap highlighted-widget">
  <div class="widget">
    <a href='https://zammu.in/?invitation_code=KHAJA'>
      I built Zammu, it makes Automatic Deployment of static websites very easy.
      Please try it out
    </a>
    <br>
    <button style='width:100%;' class='btn'>Sign up now!</button>
  </div>
</div>

<div class="widget-wrap">
  <h3 class="widget-title">About Me</h3>
  <div class="widget">
    <img src="https://s.gravatar.com/avatar/ca4be9237627c499136b8799ff0c7f57?s=80" alt="My photo">
    <br>
    I am Khaja Minhajuddin. I live in Hyderabad, India.
    I am a very passionate programmer with experience in C#, Ruby, and Golang.
    I am learning Elixir and React currently.
    Contact me on twitter <a href='//twitter.com/minhajuddin'>@minhajuddin</a>
  </div>
</div>
